In [1]:
import tushare as ts
import pymysql
ts.set_token('b0030b7297c6b297f1db549c7f8c8a080b5f28e2267f07c4741e69ad')

In [4]:
from cashare.minute_data import m_data
#获取股票1分钟数据
# df = m_data(sk_code='BABA',freq='1min',token='f9882e4b76023e40f506c3b274ecde2295t1',start_date='2020-06-20',end_date='2023-07-05')
df = ts.pro_bar(ts_code='002594.SZ',freq='1min', start_date='2023-07-10 09:00:00', end_date='2023-07-13 15:00:00')
print(df)
# df = df[['open', 'vol']]
# df.sort_index(ascending=False, inplace=True)
# df = df.reset_index(drop=True)

df.to_csv('stock_002594_predict.csv', index=False)

# df.to_csv('stock_data.csv', index=False,mode='a', header=False)

# for index,row in df.iterrows(): 
#     db = pymysql.connect(host="127.0.0.1", user="root", password="123", database="laplace" )
#     cursor = db.cursor()
#     sql = "INSERT INTO trade(ts_code,trade_time,vol,amount,price) \
#     VALUES ('%s','%s','%s','%s','%s')" % \
#     (row['ts_code'],row['trade_time'],row['vol'], row['amount'],row['open'])
#     try:
#         cursor.execute(sql)
#         db.commit()
#     except Exception as e:
#         print(e)
#     finally:
#         db.close()

       ts_code           trade_time    open   close    high     low       vol  \
0    002594.SZ  2023-07-12 15:00:00  265.61  265.61  265.61  265.61  140405.0
1    002594.SZ  2023-07-12 14:59:00  265.04  265.04  265.04  265.04       0.0
2    002594.SZ  2023-07-12 14:58:00  265.04  265.04  265.04  265.04       0.0
3    002594.SZ  2023-07-12 14:57:00  265.05  265.04  265.10  265.04   65997.0
4    002594.SZ  2023-07-12 14:56:00  265.01  265.15  265.18  265.01   42203.0
..         ...                  ...     ...     ...     ...     ...       ...
718  002594.SZ  2023-07-10 09:34:00  268.54  269.03  269.50  268.54  207800.0
719  002594.SZ  2023-07-10 09:33:00  267.83  268.37  268.51  267.83  122300.0
720  002594.SZ  2023-07-10 09:32:00  267.89  267.60  268.15  267.59  102200.0
721  002594.SZ  2023-07-10 09:31:00  267.26  267.88  268.25  267.12  137300.0
722  002594.SZ  2023-07-10 09:30:00  267.00  267.03  268.00  266.50   64600.0

          amount trade_date  pre_close
0    37292972.05   20230712     265.04
1           0.00   20230712     265.04
2           0.00   20230712     265.04
3    17492546.79   20230712     265.15
4    11185939.15   20230712     265.01
..           ...        ...        ...
718  55902380.00   20230710     268.37
719  32803276.98   20230710     267.60
720  27382240.00   20230710     267.88
721  36737071.00   20230710     267.03
722  17254830.00   20230710        NaN

[723 rows x 10 columns]