In [3]:
import tushare as ts
import pymysql
ts.set_token('b0030b7297c6b297f1db549c7f8c8a080b5f28e2267f07c4741e69ad')
pro = ts.pro_api()
df = pro.daily(ts_code='002594.SZ', start_date='20180101', end_date='20230713')
print(df)
# df = df[['close', 'vol']]

df.to_csv('daily_002594.csv', index=False, header=False)

# df.to_csv('daily_stock_data.csv', index=False,mode='a', header=False)
# for index,row in df.iterrows(): 
#     db = pymysql.connect(host="127.0.0.1", user="root", password="123", database="laplace" )
#     cursor = db.cursor()
#     sql = "INSERT INTO trade(ts_code,trade_time,vol,amount,price) \
#     VALUES ('%s','%s','%s','%s','%s')" % \
#     (row['ts_code'],row['trade_time'],row['vol'], row['amount'],row['open'])
#     try:
#         cursor.execute(sql)
#         db.commit()
#     except Exception as e:
#         print(e)
#     finally:
#         db.close()

        ts_code trade_date    open    high     low   close  pre_close  change  \
0     002594.SZ   20230713  267.50  269.50  265.01  267.83     265.61    2.22
1     002594.SZ   20230712  270.50  271.15  264.66  265.61     269.33   -3.72
2     002594.SZ   20230711  265.00  270.69  263.80  269.33     263.55    5.78
3     002594.SZ   20230710  267.00  269.50  262.75  263.55     264.40   -0.85
4     002594.SZ   20230707  267.00  267.66  264.11  264.40     268.10   -3.70
...         ...        ...     ...     ...     ...     ...        ...     ...
1337  002594.SZ   20180108   64.60   66.34   64.53   65.21      64.38    0.83
1338  002594.SZ   20180105   64.90   65.20   63.83   64.38      65.05   -0.67
1339  002594.SZ   20180104   66.00   66.36   64.91   65.05      66.12   -1.07
1340  002594.SZ   20180103   64.98   67.10   64.40   66.12      65.85    0.27
1341  002594.SZ   20180102   65.28   66.55   64.96   65.85      65.05    0.80

      pct_chg        vol       amount
0      0.8358   82753.01  2213414.441
1     -1.3812   87031.95  2328017.076
2      2.1931  102405.20  2744333.129
3     -0.3215   68877.62  1824432.454
4     -1.3801   62191.50  1650354.364
...       ...        ...          ...
1337   1.2900  136740.15   894169.179
1338  -1.0300  104870.00   673396.088
1339  -1.6200  118416.97   773631.609
1340   0.4100  151909.50  1000075.488
1341   1.2300  127140.77   837153.614

[1342 rows x 11 columns]