In [1]:
import tushare as ts
import pymysql
ts.set_token('b0030b7297c6b297f1db549c7f8c8a080b5f28e2267f07c4741e69ad')

In [10]:
#获取股票1分钟数据
df = ts.pro_bar(ts_code='002594.SZ',freq='1min', start_date='2023-01-01 09:00:00', end_date='2023-02-01 11:09:00')
print(df)
df = df[['open', 'vol']]
# df.sort_index(ascending=False, inplace=True)
# df = df.reset_index(drop=True)

# df.to_csv('stock_data.csv', index=False,header=False)

df.to_csv('stock_data.csv', index=False,mode='a', header=False)
# for index,row in df.iterrows(): 
#     db = pymysql.connect(host="127.0.0.1", user="root", password="123", database="laplace" )
#     cursor = db.cursor()
#     sql = "INSERT INTO trade(ts_code,trade_time,vol,amount,price) \
#     VALUES ('%s','%s','%s','%s','%s')" % \
#     (row['ts_code'],row['trade_time'],row['vol'], row['amount'],row['open'])
#     try:
#         cursor.execute(sql)
#         db.commit()
#     except Exception as e:
#         print(e)
#     finally:
#         db.close()

        ts_code           trade_time    open   close    high     low  \
0     002594.SZ  2023-02-01 11:09:00  299.01  299.28  299.29  299.00
1     002594.SZ  2023-02-01 11:08:00  298.90  299.01  299.01  298.70
2     002594.SZ  2023-02-01 11:07:00  298.33  298.97  298.98  298.33
3     002594.SZ  2023-02-01 11:06:00  298.11  298.33  298.33  298.05
4     002594.SZ  2023-02-01 11:05:00  297.86  298.11  298.11  297.86
...         ...                  ...     ...     ...     ...     ...
3951  002594.SZ  2023-01-03 09:34:00  252.87  253.20  253.20  252.60
3952  002594.SZ  2023-01-03 09:33:00  252.62  253.20  253.37  252.62
3953  002594.SZ  2023-01-03 09:32:00  253.34  252.72  253.34  252.40
3954  002594.SZ  2023-01-03 09:31:00  255.86  253.83  255.86  253.23
3955  002594.SZ  2023-01-03 09:30:00  256.41  256.00  256.45  255.73

           vol       amount trade_date  pre_close
0      64900.0  19414652.00   20230201     299.01
1      84500.0  25262119.00   20230201     298.97
2     155300.0  46407876.00   20230201     298.33
3      35500.0  10584438.00   20230201     298.11
4      34600.0  10311160.00   20230201     298.00
...        ...          ...        ...        ...
3951  191597.0  48440294.72   20230103     253.20
3952  167900.0  42474891.00   20230103     252.72
3953  186600.0  47170683.00   20230103     253.83
3954  207700.0  52832226.00   20230103     256.00
3955  110700.0  28374577.07   20230103        NaN

[3956 rows x 10 columns]