In [9]:
import tushare as ts
import pymysql
ts.set_token('b0030b7297c6b297f1db549c7f8c8a080b5f28e2267f07c4741e69ad')
pro = ts.pro_api()
# df = pro.daily(ts_code='002594.SZ', start_date='20180101', end_date='20230331')
df = pro.daily(ts_code='002594.SZ', start_date='20110630', end_date='20230631')
print(df)
df = df[['close', 'vol']]

df.to_csv('daily_stock_data.csv', index=False, header=False)

# df.to_csv('daily_stock_data.csv', index=False,mode='a', header=False)
# for index,row in df.iterrows(): 
#     db = pymysql.connect(host="127.0.0.1", user="root", password="123", database="laplace" )
#     cursor = db.cursor()
#     sql = "INSERT INTO trade(ts_code,trade_time,vol,amount,price) \
#     VALUES ('%s','%s','%s','%s','%s')" % \
#     (row['ts_code'],row['trade_time'],row['vol'], row['amount'],row['open'])
#     try:
#         cursor.execute(sql)
#         db.commit()
#     except Exception as e:
#         print(e)
#     finally:
#         db.close()

        ts_code trade_date    open    high     low   close  pre_close  change  \
0     002594.SZ   20230630  254.13  260.00  253.70  258.27     255.70    2.57
1     002594.SZ   20230629  260.25  260.78  255.23  255.70     260.25   -4.55
2     002594.SZ   20230628  260.00  262.50  258.10  260.25     260.05    0.20
3     002594.SZ   20230627  262.02  263.85  257.08  260.05     262.89   -2.84
4     002594.SZ   20230626  262.43  268.69  262.30  262.89     267.78   -4.89
...         ...        ...     ...     ...     ...     ...        ...     ...
2900  002594.SZ   20110706   32.80   35.55   32.11   33.40      33.05    0.35
2901  002594.SZ   20110705   32.78   33.88   31.89   33.05      30.80    2.25
2902  002594.SZ   20110704   28.88   30.80   28.58   30.80      28.00    2.80
2903  002594.SZ   20110701   25.77   28.00   25.00   28.00      25.45    2.55
2904  002594.SZ   20110630   22.00   26.19   22.00   25.45      18.00    7.45

      pct_chg        vol        amount
0      1.0051   75724.36  1.952425e+06
1     -1.7483   83485.05  2.148587e+06
2      0.0769   57269.51  1.489543e+06
3     -1.0803   99028.65  2.570405e+06
4     -1.8261  101512.22  2.681453e+06
...       ...        ...           ...
2900   1.0600  312967.19  1.056614e+06
2901   7.3100  381080.83  1.257046e+06
2902  10.0000  219645.91  6.535179e+05
2903  10.0200  335612.79  8.986792e+05
2904  41.3900  562925.34  1.349342e+06

[2905 rows x 11 columns]